{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.about{
	width: 100%;
	padding: 78px 0px;
	background-color: #ADD8E6;
}
.about img{
	height: auto;
	width: 420px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h1{
	color: #708090;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.about-text h5{
	color: #778899;
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 25px;
	letter-spacing: 2px;
}
.span{
	color: #008080;
}
.about-text p{
	color: #808080;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background: #778899;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background: transparent;
	border: 2px solid #778899;
	cursor: pointer;
}