*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

nav {
	height: 80px;
	width: 100%;
	background:rgb(95, 158, 160);
	border-bottom: 1px solid white;
}

label.logo {
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	font-family: Verdana;
	color: white;
	padding: 0 50px;
	text-transform: uppercase;
}

nav ul {
	float: right;
	margin-right: 5px;
	margin-top: 0px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	font-size: 17px;
	font-family: Verdana;
	text-transform: uppercase;
	color: white;
	padding: 10px 17px;
	border-radius: 3px;
	
}

h4{
	justify-content: center;
}

a.active, a:hover {
	background: rgb(112, 128, 145);
	transition: 0.5s;
}

.btn{
	float: right;
	font-size: 30px;
	color: white;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

#home{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 100px;
}

.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
	}
	
	.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 2px;
	color: #1a1a1a;
	font-size: 30px;
	}
	
	.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
	}
	
	.text-container p:nth-child(4){
	font-family: calibri;
	color: #403e3e;
	font-size: 17px;
	margin-top: 10px;
	line-height: 30px;
	}
	
	.text-container p{
	line-height: 0px;
	margin: 55px 0px 25px;
	}
	
	.text-container{
	left: 13%;
	top: 100%;
	}

.home-img {
	margin-right: 50px;
	margin-left: 20px;
}


@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}

	nav ul li a {
		font-size: 16px;
	}
}

@media (max-width: 858px){
	.btn {
		display: block;

	}
	ul {
		height: 100vh;
		width: 100%;
		position: fixed;
		top: 80px;
		left: -100%;
		text-align: center;
		background: rgba(0, 0, 0, 0.2);
		transition: all .5s;
	}

	#check:checked ~ ul {
		left: 0;
	}

	nav ul li{
		margin: 50px 0;
		line-height: 30px;
		display: block;
	}

	nav ul li a{
		font-size: 20px;
	}

	a.active, a:hover {
		color: white;
		background: rgba(112, 128, 145);
	}
}
