*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #ADD8E6;
	height: 100vh;
	display: grid;
	place-items:center center;
	font-family: 'Poppins',san-serif;
}
.cards{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
	padding: 20px;
	grid-gap: 40px;
}
.cards{
	background-color: #5F9EA0;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0,0,0.18);
}
.container{
	position: relative;
	/*clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);*/
}
img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 20px 20px 0 0;
}
.container:after{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px 20px 0 0;
	opacity: 0.7;
}
.card1>.container:after{
	background-image: linear-gradient(135deg,#0100ec,#fb36f4);
}
.card2>.container:after{
	background-image: linear-gradient(135deg,#2bdce3,#42ffdb);
}
.card3>.container:after{
	background-image: linear-gradient(135deg,#ffab1d,#f8501c);
}
.details{
	padding: 20px 10px;
}
.details>h3{
	color: #ffffff;
	font-weight: 600;
	font-size: 18px;
	margin: 10px 0 15px 0;
}
.details>p{
	color: black;
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
}